


<div class="slideout-container" id="slideOutView">
    <dx-slide-out-view
        #slideout
        [(menuVisible)]="menuVisible"
        [swipeEnabled]="true"
      
    >
    <div *dxTemplate="let menuData of 'content'" style="height: 100%;">
            <dx-toolbar [dataSource]="toolbarItems">
                </dx-toolbar>
            </div>
    <div *dxTemplate="let menuData of 'menu'" style="height: 100%;">
 
        <dx-tree-view
        #treeview
        [dataSource]="Items"
        [(width)]="width"
        [searchEnabled]="true"
        searchMode="contains"
        [(height)]="height"
        keyExpr="Id"
        displayExpr="ValueName"
        parentIdExpr="ParentID"
        (onItemClick)="selectItem($event)"
        dataStructure="plain"
    ></dx-tree-view>

    </div>
       
   
</dx-slide-out-view>
</div>