<app-popups (formdatas)="formdatas($event)">
 
</app-popups>
<dx-button
text="Add New"
[type]="ButtonType"
(onClick)="AddTab($event)"
>
</dx-button>
<br>
<div id="tabs">
  <dx-tabs
      [dataSource]="tabs"
      [selectedIndex]="0"
      (onItemClick)="selectTab($event)"
  ></dx-tabs>
 
<app-data-grid *ngIf="DataGridshow">
  
</app-data-grid>
  {{tabContent}}
<div *ngIf="TabPanelshow">
  <dx-tab-panel
    
  [height]="260"
  [dataSource]="tabs"
  [selectedIndex]="0"
  [loop]="false"
  [animationEnabled]="true"
  [swipeEnabled]="true"
  (onSelectionChanged)="OnTabPanelSelectionChanged($event)"
  (onItemRendered)="onItemRendered($event)"
>

<div *dxTemplate="let Tab of 'title'">
  <span>{{Tab.text}}  
  
      <div class="dx-button-content" (click)="CloseEvent($event,$index)"><i class="dx-icon dx-icon-close" ></i></div>

</span>
   
</div>
<div *dxTemplate="let Tab of 'item'">
  <div>
      <app-text-area>

      </app-text-area>
  </div>
  </div>
</dx-tab-panel>
</div>
  
</div>


