
<dx-popup id="popup" 
class="popup"
[(width)]="PopUpwidth"
[(height)]="PopUpheight"
[(showTitle)]="showTitle"
[(title)]="title"
[(dragEnabled)]="dragEnabled"
[(closeOnOutsideClick)]="closeOnOutsideClick"
[(visible)]="popupVisible"

>
<div *dxTemplate="let data of 'content'">
<dx-form id="formdata" [(formData)]="formData" 
[(items)]="items"
validationGroup="dxvalidationGroup"
></dx-form>

<dx-button
text="Save"
(onClick)="AddTab($event)"
[type]="ButtonType"
validationGroup="dxvalidationGroup"
[useSubmitBehavior]="true"
>
</dx-button>

</div>
</dx-popup>