/* You can add global styles to this file, and also import other style files */

.dx-loadpanel-message{
    width: 70%;
    float: right;
    padding-top: 5px;
}  
dx-loadpanel-indicator{
float: left;    
}