<dx-drop-down-box
                    [(value)]="gridBoxValue"
                    valueExpr="ID"
                    [displayExpr]="gridBox_displayExpr"
                    placeholder="Select a value..."
                    [showClearButton]="true"
                    [dataSource]="gridDataSource"
            >

                <div *dxTemplate="let data of 'content'">
                    <dx-data-grid
                            [dataSource]="gridDataSource"
                            [columns]="['CompanyName', 'City', 'Phone']"
                            [selection]="{ mode: 'single' }"
                            [hoverStateEnabled]="true"
                            [paging]="{ enabled: true, pageSize: 10 }"
                            [filterRow]="{ visible: true }"
                            [scrolling]="{ mode: 'infinite' }"
                            [height]="265"
                            [(selectedRowKeys)]="gridSelectedRowKeys"
                    >
                    </dx-data-grid>
                </div>
            </dx-drop-down-box>