<div class="dx-fieldset">

    <div class="dx-field">
      <div class="dx-field-label">Select Box</div>
      <div class="dx-field-value">
        <dx-select-box [dataSource]="selectBoxData" displayExpr="country">
        </dx-select-box>
      </div>
    </div>
  
    <div class="dx-field">
      <div class="dx-field-label">Select Box With Custom Data Source</div>
      <div class="dx-field-value">
        <dx-select-box [dataSource]="selectBoxDataCustom" displayExpr="OrderNumber">
        </dx-select-box>
      </div>
    </div>
  
    
     <div class="dx-field">
      <div class="dx-field-label">DropDownBox with embedded DataGrid</div>
      <div class="dx-field-value">
  
        <dx-drop-down-box 
         value="CategoryName"
          valueExpr="CategoryID" 
          [displayExpr]="gridBox_displayExpr" 
          placeholder="Select a value..." 
          [showClearButton]="true"
          [dataSource]="DropDownBoxData">
  
          <div *dxTemplate="let data of 'content'">
            <dx-data-grid 
            [dataSource]="DropDownBoxData" 
            [columns]="['CategoryID','CategoryName', 'Description']" 
            [selection]="{ mode: 'single' }"
            [hoverStateEnabled]="true" 
            [paging]="{ enabled: true, pageSize: 10 }" 
            [filterRow]="{ visible: true }" 
            [scrolling]="{ mode: 'infinite' }"
            [height]="265" 
            [(selectedRowKeys)]="gridSelectedRowKeys">
            </dx-data-grid>
          </div>
        </dx-drop-down-box>
  
      </div>
  
  
  
    </div>
   
  
    <div class="dx-field">
      <dx-data-grid [dataSource]="gridData">
      </dx-data-grid>
    </div>
  
  
  </div>